
{% extends "main/base.html" %}
{% block title %}
Login
  
{% endblock title %}
{% block content %}
{% if messages %}
{% for message in messages %}
  
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Hi Sujan!</strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
{% endif %}
<form class="form" method="POST" action="{% url 'log_in' %}">
    {% csrf_token %}
    <p class="title">Login </p>
    <p class="message">Login now and get full access to our app. </p>
        <label>
            <input class="input" type="text" placeholder="" required="" name="username">
            <span>Username</span>
        </label>
            
   
        
    <label>
        <input class="input" type="password" placeholder="" required="" name="password">
        <span>Password</span>
    </label>
   
    <button class="submit">Login</button>
    <p class="signin">if Not Register ? <a href="{% url 'register' %}">Signup</a> </p>
</form>
{% endblock content %}